@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            @*

            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            *@
            <div class="form-group">
    <label asp-for="Input.Role"> Roles</label>
    <select asp-for="Input.Role" asp-items=@(ViewData["Roles"] as List<SelectListItem>) class="form-control" class="form-control" id="InputRole">
        <option value="">-- --</option>
    </select>
    <span asp-validation-for="Input.Role" class="text-danger"></span>
</div>
<div class="form-group" id="studentLinkContainer" style="display:none;">
    <label asp-for="Input.StudentIdToLink">Link to Existing Student</label>
    <select asp-for="Input.StudentIdToLink" asp-items="@(ViewData["Student"] as List<SelectListItem>)" class="form-control">
        <option value="" >-- Select Student Profile --</option>
    </select>
    <span asp-validation-for="Input.StudentIdToLink" class="text-danger"></span>
</div>
<div class="form-group" id="TeacherLinkContainer" style="display:none;">
    <label asp-for="Input.TeacherIdToLink">Link to Existing Teacher</label>
    <select asp-for="Input.TeacherIdToLink" asp-items="@(ViewData["Teacher"] as List<SelectListItem>)" class="form-control">
        <option value="" >-- Select Teacher Profile --</option>
    </select>
    <span asp-validation-for="Input.TeacherIdToLink" class="text-danger"></span>
</div>



            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
            document.addEventListener('DOMContentLoaded', function () {
            const roleSelect = document.getElementById('InputRole');
            const studentContainer = document.getElementById('studentLinkContainer');
            const TeacherContainer = document.getElementById('TeacherLinkContainer');

            function toggleStudentDropdown() {
                if (roleSelect.value === 'Student') 
                {
                    studentContainer.style.display = 'block';
                    TeacherContainer.style.display = 'none';
                } 
                else if (roleSelect.value === 'Teacher') 
                {
                        TeacherContainer.style.display = 'block';
                        studentContainer.style.display = 'none';
                }
                else
                {
                    TeacherContainer.style.display = 'none';
                    studentContainer.style.display = 'none';
                }
            }
            toggleStudentDropdown();

            roleSelect.addEventListener('change', toggleStudentDropdown);
        });
    </script>
}
